@import "_minix.scss";
@import "common.scss";
.wrapper {
    width: 100%;
    height: 100%;
<<<<<<< HEAD
    overflow-y: scroll;
    .floor {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: pxTorem(41px);
        @include box_flex;
        overflow-x: scroll;
        li {
            flex-shrink: 0;
            padding: 0 pxTorem(10px);
            height: pxTorem(41px);
            @include sizing;
            line-height: pxTorem(41px);
        }
        li:hover {
            border-bottom: 1px solid blue;
            color: blue
        }
    }
    .header {
        width: 100%;
        height: pxTorem(35px);
        @include box_flex;
        @include align;
        @include justify;
        input {
            width: 80%;
            height: pxTorem(24px);
            background: #f6f6f6;
            border-radius: pxTorem(10px);
            border: none;
            align-items: center;
            text-align: center;
        }
=======
    .header {
        width: 100%;
        height: pxTorem(43px);
        @include box_flex;
        @include justify(space-between);
        @include align;
        @include sizing;
        padding: pxTorem(10px);
        color: #6C6C6C;
        font-size: pxTorem(16px);
>>>>>>> 1bd8791260fbf852454aeaf88da317527f46ef08
    }
    .main {
        width: 100%;
        height: auto;
<<<<<<< HEAD
        .home_box {
            width: 100%;
            height: pxTorem(165px);
            border: 1px solid skyblue;
            margin-bottom: pxTorem(10px);
            border-radius: pxTorem(8px);
            @include sizing;
            .shop_top {
                width: 100%;
                height: pxTorem(52px);
                line-height: pxTorem(52px);
                border-bottom: 1px solid #DBDBDB;
                span {
                    margin-left: pxTorem(10px);
=======
        .list1 {
            width: 100%;
            height: pxTorem(10px);
            background: #E9E9E9;
        }
        .list2 {
            width: 100%;
            height: pxTorem(88px);
            border-bottom: 1px solid #CDCDCD;
            dl {
                width: 100%;
                height: 100%;
                @include box_flex;
                dt {
                    width: 22.8%;
                    height: 100%;
                    img {
                        width: pxTorem(60px);
                        margin: pxTorem(15px) pxTorem(11px) pxTorem(13px) pxTorem(15px);
                    }
                }
                dd {
                    width: 77.2%;
                    height: 100%;
                    span {
                        display: inline-block;
                        margin-top: pxTorem(30px);
                    }
                }
            }
        }
        ul {
            li {
                width: 100%;
                height: pxTorem(60px);
                @include box_flex;
                @include align;
                img {
                    margin-left: pxTorem(15px);
                    margin-right: pxTorem(15px);
                }
                span {
                    font-size: pxTorem(16px);
                }
                i {
                    margin-left: 60%;
>>>>>>> 1bd8791260fbf852454aeaf88da317527f46ef08
                }
            }
        }
    }
}