html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

.wrapper {
  width: 100%;
  height: 100%;
<<<<<<< HEAD
  overflow-y: scroll;
}

.wrapper .floor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.09333rem;
=======
}

.wrapper .header {
  width: 100%;
  height: 1.14667rem;
>>>>>>> 1bd8791260fbf852454aeaf88da317527f46ef08
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
<<<<<<< HEAD
  overflow-x: scroll;
}

.wrapper .floor li {
  flex-shrink: 0;
  padding: 0 0.26667rem;
  height: 1.09333rem;
=======
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
>>>>>>> 1bd8791260fbf852454aeaf88da317527f46ef08
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
<<<<<<< HEAD
  line-height: 1.09333rem;
}

.wrapper .floor li:hover {
  border-bottom: 1px solid blue;
  color: blue;
}

.wrapper .header {
  width: 100%;
  height: 0.93333rem;
=======
  padding: 0.26667rem;
  color: #6C6C6C;
  font-size: 0.42667rem;
}

.wrapper .main {
  width: 100%;
  height: auto;
}

.wrapper .main .list1 {
  width: 100%;
  height: 0.26667rem;
  background: #E9E9E9;
}

.wrapper .main .list2 {
  width: 100%;
  height: 2.34667rem;
  border-bottom: 1px solid #CDCDCD;
}

.wrapper .main .list2 dl {
  width: 100%;
  height: 100%;
>>>>>>> 1bd8791260fbf852454aeaf88da317527f46ef08
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
<<<<<<< HEAD
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.wrapper .header input {
  width: 80%;
  height: 0.64rem;
  background: #f6f6f6;
  border-radius: 0.26667rem;
  border: none;
  align-items: center;
  text-align: center;
}

.wrapper .main {
  width: 100%;
  height: auto;
}

.wrapper .main .home_box {
  width: 100%;
  height: 4.4rem;
  border: 1px solid skyblue;
  margin-bottom: 0.26667rem;
  border-radius: 0.21333rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper .main .home_box .shop_top {
  width: 100%;
  height: 1.38667rem;
  line-height: 1.38667rem;
  border-bottom: 1px solid #DBDBDB;
}

.wrapper .main .home_box .shop_top span {
  margin-left: 0.26667rem;
=======
}

.wrapper .main .list2 dl dt {
  width: 22.8%;
  height: 100%;
}

.wrapper .main .list2 dl dt img {
  width: 1.6rem;
  margin: 0.4rem 0.29333rem 0.34667rem 0.4rem;
}

.wrapper .main .list2 dl dd {
  width: 77.2%;
  height: 100%;
}

.wrapper .main .list2 dl dd span {
  display: inline-block;
  margin-top: 0.8rem;
}

.wrapper .main ul li {
  width: 100%;
  height: 1.6rem;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-align-items: center;
  align-items: center;
}

.wrapper .main ul li img {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.wrapper .main ul li span {
  font-size: 0.42667rem;
}

.wrapper .main ul li i {
  margin-left: 60%;
>>>>>>> 1bd8791260fbf852454aeaf88da317527f46ef08
}
